.style-btn {
  width: 500px;
  height: 90px;
  margin-top: 100px;
  margin-left: 550px;
  background-color: antiquewhite;
  border-radius: 22px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.filter-button {
  border-radius: 10px !important;
  background-color: #9e1f1f!important;
  color: aliceblue !important;
  font-size: 15px !important;
  font-style: bold;
  text-align: center !important;
  width: 120px;
  height: 39px;
}

.filter-button:hover {
  background-color: rgb(0, 0, 0) !important;
}
